extends partials/messages.pug
prepend head
    link(href="lib/MDBootstrap 4.8.7/css/addons/datatables.min.css" rel="stylesheet")
append area-librerias-scripts
    script(type="text/javascript" src="lib/MDBootstrap 4.8.7/js/addons/datatables.min.js")
prepend area-scripts
    script.
        $(document).ready(function(){
            const tabla = $('#dtBasicExample').DataTable({
                "scrollX": true,
                "lengthChange": false, // Mostrar numero de entradas
                "order": [[ 0, "desc" ]],
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    {
                        "render": function(data, type, row){
                            return data.split("+").join("<br/>");
                        }
                    }
                ]
            });
        })
append styles
    style.
        .dtBasicExample {
            max-width: 600px;
            margin: 0 auto;
        }
        #dtBasicExample th, td {
            white-space: nowrap;
        }
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
block contenido
    .container-fluid.px-0
        .card.rounded-0
            .card-header.bg-danger.text-white.py-2.border-bottom-0
                .d-flex.bd-highlight
                    .mr-auto.bd-highlight
                        i#iconombre.fas.fa-history.text-white.mr-2
                        strong Historial Hoy
                    .bd-highlight
                        a.text-white(data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
                            i.far.fa-question-circle.prefix.mr-1
                            | Ayuda
            .card-body
                // Collapse buttons
                #collapseExample.collapse
                    .border.border-mutted
                        .m-2.ml-2
                            strong.text-info Search :
                            small.ml-2 Busca el dato por cualquier atributo de una fila
                            br
                            strong.text-info Show-entries :
                            small.ml-2 Muestar la cantidad de datos que quieras ver en la tabla
                            br
                            strong.text-info Previous-Next :
                            small.ml-2 Navega por las paginas de la tabla
                            br
                            strong.text-info ▲-▼ :
                            small.ml-2 Organiza los datos de la tabla dese (a-z) o de mayor a menor
                            br
                            strong.text-info PLACA : click para ingresar al perfil del vehiculo

                table#dtBasicExample.table.table-striped.table-bordered.table-sm(cellspacing="0" width="100%")
                    thead
                        tr
                            th.th-sm Orden
                            th.th-sm Placa
                            th.th-sm Vehiculo
                            th.th-sm Km Inicial
                            th.th-sm Nombre Cliente
                            th.th-sm Celular
                            th.th-sm Servicio
                            th.th-sm Detalle de Cliente
                            th.th-sm Detalle de Asesor
                            th.th-sm Mecanico Asignado
                            th.th-sm Antiguedad de Visita
                            th.th-sm Fecha de Visita
                            th.th-sm Detalle Requerimiento
                    tbody
                        - var i = 0;
                        each val in data.ordenes_hoy
                            tr
                                td #{data.ordenes_hoy[i].nro_orden}
                                td
                                    a.font-weight-bold.text-uppercase.text-success(href='/info-cliente?id_vehiculo='+data.ordenes_hoy[i].id_vehiculo+'&placa='+data.ordenes_hoy[i].placa+'') #{data.ordenes_hoy[i].placa}
                                td 
                                    .d-flex.justify-content-start
                                        .text-body #{data.ordenes_hoy[i].vehiculo_marca}
                                        .text-primary.ml-1 #{data.ordenes_hoy[i].modelo} 
                                td #{data.ordenes_hoy[i].km_inicial} km
                                td #{data.ordenes_hoy[i].nombre_cliente}
                                td #{data.ordenes_hoy[i].telefono}
                                td #{data.ordenes_hoy[i].nombre_servicio}
                                td #{data.ordenes_hoy[i].descripcion_cliente}
                                td #{data.ordenes_hoy[i].Detalle_usuario}
                                td #{data.ordenes_hoy[i].nombre_usuario_asignado}
                                td #{data.Tiempo_Inicio[i]}
                                td #{data.Tiempo_Inicio_corto[i]}
                                if data.ordenes_hoy[i].Detalle_requerimiento == null
                                    td.text-danger Hace falta los requerimientos
                                else
                                    td #{data.ordenes_hoy[i].Detalle_requerimiento}
                            - i++
                    tfoot
                        tr
                            th Orden
                            th Placa
                            th Vehiculo
                            th Km Inicial
                            th Nombre Cliente
                            th Celular
                            th Servicio
                            th Detalle de Cliente
                            th Detalle de Asesor
                            th Mecanico Asignado
                            th Antiguedad de Visita
                            th Fecha de Visita
                            th Detalle Requerimiento